{% extends 'weCar/base.html' %}

{% block body %}

  {%if all_deals %}
      <h3> Here are the deals</h3>
      <ul>
          {% for deal in all_deals %}
          <li><a href="{% url 'detail' deal.id %}"> {{ deal.title }} </a> </li>
          <form action="{% url 'deal-delete' deal.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="deal_id" value="{{ deal.id }}"/>
            <button type="submit"  btn-default btn-sm">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </form>


          <form action="{% url 'deal-update' deal.id %}" method="get" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="deal_id" value="{{ deal.id }}"/>
            <button type="submit"  btn-default btn-sm">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </form>
          {% endfor %}
      </ul>

  {% else %}
       <h3> No deals today </h3>
  {% endif %}
{% endblock %}
